.sign {
    width: 25vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

.name {
    text-transform: uppercase;
}