.sign {
  width: 15vw;
  height: 15vw;
  display: flex;
  font-size: 1vw;
  border-radius: 1vw;
  flex-direction: column;
  background-color: orange;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: uppercase;
}

.image {
  width: 5vw;
  height: auto;
}
